h3{
    font-weight: 100;

}
body{
   margin: auto;
   font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
   letter-spacing: 0.06em;
}


header{
    display: flex;
    justify-content: space-between;    
}
.puppy{
    width:50%;
}
main{
    display: flex;
    flex-direction: column; 
    margin: auto;
    width: 1200px;
    overflow: hidden;
}
.logo{
    top:80px;
    align-items: center;
}
#logo:hover{
     cursor: -webkit-grab; cursor: grab;
}
.logo h5{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
margin-top: 5px;
margin-left: 5px;
}

h1{
font-family: 'Georgia';
font-style: normal;
font-weight:100;
font-size: 32px;
margin-bottom: 0px;
    display: flex;
align-items: center;
letter-spacing: 0.06em;
font-size: 190%;
color: #F1CDB3;
}
.top-section{
    background-image: url("../../assets/images/start-screen-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    padding-top: 2.2rem;
    padding-left: 2.4rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    color: #FAFAFA;
 
}
/*nav starts*/
nav{
    background-color: transparent;
    color: #CDCDCD;
    display: flex;
justify-content: space-between;    font-size: 30%;
    width: 40vw;
    top:60px;
    left: 62%; 
}

ul{
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
    margin: auto;
    overflow: hidden;  
    display: inline-flex;
}
    
li {
       background-color: transparent;
    margin: 10px;
    display: flex;
}
a{
color: #CDCDCD;
text-decoration: none;
font-size: 1rem;
margin-top: 1rem;
}
nav li:first-child a {
    border-bottom:2px solid wheat ;
    padding-bottom: 2px;
}

/*Nav ends*/
.intro{
    display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
justify-content: space-between;    

}
.btn-main a{
    margin: 0.3rem;
}
.intro-text h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 44px;
    font-weight: 400;
    width: 350px;
    line-height: 57px;
    vertical-align: center;
    margin-top: 200px;
    font-style: normal;
}
.intro-text{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 24px;
}


.btn-main{
    
    width: 207px;
    border-radius: 100px;
    border: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#292929;
    background-color: #F1CDB3;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    font-size: larger;
    margin: 20px;

}
.btn-main a {
    font-size: 12px;
}
.btn-card{
 width: 207px;
    border-radius: 100px;
    border: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#292929;
    background-color: #F1CDB3;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    margin-bottom: 50px;
}
/*about section*/

#about{
    width: 1280px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.about-txt{
width: 1200px;
color: #292929;
width: 29vw;
display: flex;
flex-direction: column;
align-items:  flex-start;
justify-content: left;
padding: 4rem;
}
.about-txt h3{
width: 370px;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
/* or 45px */
display: flex;
align-items: center;
letter-spacing: 0.06em;
color: #545454;
}
.about-txt p{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
color: #4C4C4C;
}
/*about ends*/
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;;
    justify-content: space-around;
   
}
.cards p{
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #545454;
}
/* our-friends-section*/

#our-friends{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    background-color: #F6F6F6;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
     margin: 2.5rem;
    
}

#our-friends h3{  
text-align: center;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
font-family: Georgia, 'Times New Roman', Times, serif;
letter-spacing: 0.06em;
color: #545454;
}

.circleb{
  border-radius: 50%;
  width: 52px;
  height: 52px;
  padding: 23px 19px;
  background: #fff;
  border: 2px solid #F1CDB3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 19px;
  box-sizing: border-box;
  
  border-radius: 100px;
}
 .circle {
  border-radius: 50%;
  width: 52px;
  
  height: 52px;
  padding: 23px 19px;
  background: #fff;
  border: 2px solid #F1CDB3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 19px;
  box-sizing: border-box;
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35)); 
  border-radius: 100px;
}

/*how you can help*/
#helpforus{
      display: flex;
    flex-direction: column;
    align-items: center;
}
/*icons section*/
#helpforus h3{
width: 370px;
text-align: center;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
font-family: Georgia, 'Times New Roman', Times, serif;
letter-spacing: 0.06em;
color: #545454;
}
#icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iconItem{
    width: 82px;
    height: 113px;
    display: flex;
    flex-direction: column;
    padding: auto;
    align-items: center;
    margin:70px; 
}
.iconItem h4{
font-family: Georgia, 'Times New Roman', Times, serif;
color:#545454;

width: 165px;
line-height: 25px;
text-align: center;
}

/*Donation*/
#donate{
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 480px;
     background-color: #f6f6f6";
}
.donation-content2{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}
.donation-content2 h5{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    justify-content: space-between;
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}
.donation-content2 p {
font-size: 12px;
font-style: italic;
line-height: 18px;
color:#cccccc;
}

.bankcard{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F1CDB3;
    padding: 10px;
    border-radius: 9px;
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#545454;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    justify-content: center;
}
#donate h3{
font-family: Georgia, 'Times New Roman', Times, serif;
color:#545454;
font-size: 35px;
letter-spacing: 6%;
line-height: 100%;
text-align: left;
vertical-align: center;
}
/*footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    background-image: url("../../assets/images/start-screen-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    padding-top: 2.2rem;
    padding-left: 2.4rem;
    margin: 0;
    color: #FAFAFA;
}

footer h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: normal;
    margin: 4px;

}
footer h4{
    margin:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size: medium;
    font-weight: 400;
    color: #F1CDB3;
}
footer img{
    padding-right: 10px;
    font-size: small;
}
footer div{
    width: 22%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self:center
    
}

.footerdog{
    bottom: 0px;
}

/*Effectc*/

.card:hover{
box-shadow: 20px 20px 50px rgb(189, 150, 150);
}

.card:hover .btn-card{
    background-color: #f85b5b;
}

.circleb:hover{
    background-color: #e6aeae;
}
.circle:hover{
    background-color: #e6aeae;
}

nav li a:hover{
    color: #d88951;
    
}

 

.btn-main:hover{
    background-color: #7c6252;
}
.hamburger{
  display: none;
}


@media screen and ( max-width:1280px) {
    body{
        size: auto;
    }
    main{
        max-width: 100vw;
    }
   .intro{
       flex-direction: column-reverse;
       justify-content: space-around;
       margin-top: 10%;
       align-items: center;
       margin-left: 15%;
       }
       .intro p{
           width: 31vw;
           padding: 4px;   }
       .intro h2{
           width: 70vw;
           font-size: 34px;
       }
       .intro-text{
        margin-bottom: 10rem;
        margin-left: -59vw;
        margin-top: -10rem;
       }
       .intro .puppy{
    width: 60%;
}
       header{
           justify-content: center;
           width: 100%;
           display: flex;
           
       }
      nav{
          width: 70vw;
      }nav a{
          font-size: 1rem;
          margin-top: 1rem;
      }
      #about{
          flex-direction: column-reverse;
          align-items: center;
          width: 100vw;
      }
    .about-txt {
    color: #292929;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: left;
    padding: 4rem;}
    #our-friends .cards {
        justify-content: space-between;
        margin-left: 1%;
    }
    #our-friends .cards :nth-child(4){ 
        display: none;
    }
   #our-friends h3 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    margin-top: 4rem;
    width: 100vw;
    line-height: 130%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.06em;
    color: #545454;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}


    .cards{
        gap:1.87rem;
    }
    .card{
        margin: 0;
    }
    #donate{
        height: auto;
        flex-direction: column-reverse;
    }
    .donation-content2{
        width: 45%;
    }
    #footer{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footerItem{
        flex-basis: 47%;
        align-items: flex-start;
        margin: 0px;
        width: 200px;
    }
    
    #footer .footerdog{
        height: 400px;
    }


}


@media screen and (max-width:768px)  {
    body{
        size: auto;
    }
    main{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
.circle{
    order:2
}
.intro .puppy{
    width: 80%;
}




.intro p{
    width: 60vw;
}
.hamburger{
    border: 0;
    background-color: transparent;
    padding-right:2rem ;
    color: #e6aeae;
    font-size: 30px;
    display: block;
}
.top-section .btn-main{
    margin-left:    ;
}

#nav-list{
    display: none   ;
     background-color: #292929;
    color: #e6aeae;
    width: inherit;
    border-radius: 15px;
}


  #footer{
     flex-direction: column;
     justify-content: center;
     flex-basis: 100%;
  }  

  header .logo{
      width: 300%;
      padding-left: 0px;
  }
 footer .visit h4{
    padding-top:30px;
    padding-bottom: 20px;
}
footer .visit h3{
    padding-bottom: 10px;
    padding-top: 10px;
}
  .cards{
      flex-direction: column;
  }

  .iconItem{
    width: 19px;
    flex-shrink: inherit    ;
    display: flex;
    flex-direction: column;
    padding: auto;
    align-items: center;
    
}
#icons{
    justify-content: center;
    flex-basis: 50%;
}
  #about{
    flex-direction: column-reverse;
    align-items: center;
    width: 100vw;
  }
 .about-txt{
     justify-content: center;
     width: 90%;
 }
 .about-txt h3{
     width: 100%;
     font-size: 30px;
     text-align: center;
 }

  #our-friends .cards :nth-child(2){ 
        display: none;
    }
#donate{
    padding: 10px;
    
}
.donation-content2{
    width: 90vw;
}
#donate h3{
text-align: center;
width: auto;
}
.donation-content1{
     width: 90%;
}
#donate h5{
    font-size: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 100;
    
}

#helpforus{
    margin-top: 3rem;
}
#helpforus h3{
width: 95vw;
font-size: 2rem;
}
#footer img{
    margin-left: -2rem;
}

footer .footerItem h4,h3{
    margin-top: -10px;
    width: 40vw;
}

.footerItem h3{
    margin-left: -15%;
}
.footerItem{
align-items: flex-start;
}

footer .footerItem{
    margin-left: 25%;
    width: max-content;
}
#footer .footerdog{
    width: 45vw;
}


}