
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 1280px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    color: #545454;
    top:36px;
    left: 36px;
    width: 1200px;
    height: 120px;
    margin-bottom: 10px;
    
}
#logo{
    top:80px;
    align-items: center;
    color:#545454;
    font-size:2rem;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 44px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#logo p{
    top:60px;
   
}
#logo:hover{
     cursor: -webkit-grab; cursor: grab;
}

.logo p{
    margin-left: 46px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    margin-right: -48px;
    color: #545454;
    margin-top: -20px;
   
}

nav ul{
    margin-top: 0;
}
a{
    text-decoration: none;
    color: #545454; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.006rem;
    
}
nav :nth-child(2) {
    border-bottom:2px solid wheat ;
    padding-bottom: 2px;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}

/*main*/
main{
    margin-top: -60px;
    padding: 0;
    height: auto;
}
/*Card section*/
#pets{
    margin-top: 0px;
    background-color: #F6F6F6;
    position: relative;
    top:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pets h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 420px;
    font-weight: 100;
    font-size: 2.2rem;
    color:#545454;
    letter-spacing: 0.06rem;
    text-align: center;
    margin-top: 5.4rem;
    margin-bottom: 6.5rem;
    font-style: normal;

}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: auto;
}
.cards p{
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #545454;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 9px;
    margin-left: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}
.cards .card img{
    padding-top: 40px;
    padding-bottom: 30px;
} 
.btn-card{
    width: 187px;
    height: 54px;
    border-radius: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#292929;
    background-color:transparent;
    border: #F1CDB3 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 15px;
    margin-bottom: 27px;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    align-content: center;
    letter-spacing: 0.06rem;
}



/*footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../../assets/images/start-screen-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    padding-top: 1rem;
    margin-top: 0px;
    color: #FAFAFA;
}

footer h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 0rem;
}
footer h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    color: #F1CDB3;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.suggestion{
    margin-left: 3rem;

}
/* Pagination */
.pagination{
    text-decoration: none;
    display: flex;
    margin-top: 60px;
    margin-bottom: 100px;
}
.pagination a {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  padding: 23px 25px;
  background: #fff;
  border: 2px solid #F1CDB3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 23px 23px;
  box-sizing: border-box;
  border-radius: 100px;
  align-items: center;
  margin: 7px;
}
.pagination a[disabled]{
    color: gray;
    pointer-events: none;
    border: #545454;
}

/*footer*/
footer{
    padding-top: 60px;
    height: 380px;
}
footer img{
    padding-right: 10px;
    font-size: small;
}
footer div{
    width: 22%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self:center;
    margin:40 40 0 40;
    
}

footer h4{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.006rem;
    padding-top: 20px;
}

.footerdog{
        width: 21vw;
        display: flex;
        margin-bottom: -2vh;
        margin-left: 1.33rem;


}